/* 
 * Written by: Andoni M. Garcia
 */

/* General Page Settings*/
html, body{
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
body{
    background-color: #DDE1EB;
    color: black;
}

/* Some Helper Classes */

.boxx{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    
}
.preserve3d{
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
    padding: 30px 0;
}

.centered{
    margin: 0 auto 20px auto;
    text-align: center;
    top: 50%;
    position: relative;
}

/* index.html CSS */

#homeContent img{
    border: 3px #888 solid;
    max-width: 60%;
}

.title, .title a, .title a:visited{
    color: #444;
}
.title a:hover, .title a:active{
    text-decoration: none;
}
#homeContent .glyphicon{
    display: none;
    font-size: 26px;
}

/* Panel's CSS */

.panel-par{
    font-family: times, serif;
    font-size: 18px;
    padding: 5px 5%;
}

.panel-par-center{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 376px){
    .panel-par{
        font-size: 14px;
    }
    .panel-par-center{
        font-size: 16px;
    }
}

/* contact.html CSS */

#icons{
    margin: 0 auto;
    width: 200px;
}
#iconFacebook{
    padding-left: 10px;
}
#icons a, #icons a:visited, #icons a:hover, #icons a:active{
    display: inline-block;
    margin: 0 5px;
}
.myName{
    font-size: 24px;
    text-decoration: underline;
}
a.myEmail, a.myEmail:visited{
    color: #444;
}
a.myEmail:hover, a.myEmail:active{
    color: #991B0B;
}