body {
    background: #F5F5F5;
    margin: 0;
    overflow: hidden;
}
html, body{
    height: 100%;
    width: 100%;
}

header {
    background: #CCBA68;
    border-radius: 0 0 6px 6px;
    color: #000;
    margin: 0;
    padding: 5px 7px;
}
nav h1 {
    display: inline;
    font-size: 25px;
    margin-top: 3px;
    padding: 3px 0.5%;
}
nav ul {
    display: inline;
    float: right;
    font-size: 15px;
    margin: 7px 2% 0 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 10px;
}
nav a, nav a:visited, nav a:active {
    color: black;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

div.content{
    background-color: #EDF2F2;
    border-radius: 35px;
    height: 43.3%;
    margin: 35px 1%;
    padding: 2% 4%;
        
}
div.content h2{
    color: #1F6B63;
    font-size: 50px;
    font-family: fantasy, arial, serif;
    text-align: center;
}

div.quote{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 28%;
}
div.quote img{
    height: 183px;
    margin: 0;
    padding: 0;
    position: relative;
    opacity: .75;
    width: 100%;
}
div.quote h3 {
    color: #6B1F27;
    font-size: 38px;
    font-family: times, serif;
    font-style: italic;
    text-align: center;
    top: 400px;
    left: 0;
    padding: 25px 10px;
    position: absolute;
    width: 100%
}

footer {
    background: #CCBA68;
    clear: both;
    font-family: serif;
    padding: 2px;
    text-align: center;
}


/* Blog.html */


.blogHeader {
    color: #6B1F27;
    font-size: 27px;
    font-family: times, serif;
    text-align: center;
    padding: 5px 75px 0 75px;
}
.blogProgress #frontend{
    color: #1F6B63;
    float: left;
    font-family: times, serif;
    list-style: none;
    margin: 0 0 0 350px;
}
.blogProgress #backend{
    color: #1F6B63;
    float: right;
    font-family: times, serif;
    list-style: none;
    margin: 0 350px 0 0;
}
#frontend, #backend{
    font-size: 14.5px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#frontend ul li, #backend ul li{
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}
#blogFooter{
    border-top: 1px solid black;
}



/* Contact CSS */
.contactLeft, .contactRight{
    border-radius: 25px;
    height: 300px;
    vertical-align: middle;
    width: 300px;
}
.contactLeft{
    background: #EDF2F2;
    color: #6B1F27;
    float: left;
    font-family: times, serif;
    margin: 135.5px 0 135.5px 250px;
    padding: 10px 25px;
    text-align: center;
}
.contactLeft h1, .contactRight h1{
    color: #1F6B63;
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
}
.contactRight{
    background: #EDF2F2;
    float: right;
    font-family: times, serif;
    margin: 135.5px 250px 135.5px 0;
    padding: 10px 25px;
    text-align: center;
}
.contactRight a, .contactRight a:visited, .contactRight a:active{
    color: #6B1F27;
    text-decoration: none;
}
.contactRight a:hover{
    text-decoration: underline;
}
#contactFooter{
    border-top: 1px solid black;
}

.projectContent{
    background: #EDF2F2;
    border-radius: 25px;
    color: #6B1F27;
    height: 400px;
    font-family: times, serif;
    font-size: 28px;
    margin: 85.25px 200px;
    padding: 10px 25px;
    text-align: center;
    vertical-align: middle;
    width: 900px;
}